why there is # is the beginning ?
why there is ; at the end?
why < and > are used?
why there is // in the beginning?
what is printf?
why there is a colour change in the text?
why there is a space in the beginning of the text?
why cant the computer take normal language?
